.body {
  text-align: center;
  color:rgb(31, 31, 31);
  background-color:lightgoldenrodyellow;
}

h1{
  text-align: center;
  color:rgb(31, 31, 31);
  font-size: 60px;
}
.container {
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
  align-items: center;
}
img { 
  width: 40%;
  display: flex;
  margin: 100px auto;
}

 #spinner {
  -webkit-animation: rotation 2s infinite linear;
}
@-webkit-keyframes rotation{
  from{
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
} 